<%- include('./layout/header')%>
    <%- include('./layout/navbar')%>
    <main>
        <h2>Profile</h2>
        <p>Welcome <%= user.name%></p>
        <p>Name: <%= user.name%></p>
        <p>Email: <%= user.email%></p>
        <li role=”presentation”><a href=/profile/search>Search <i class=”fa fa-search”></i> </a></li>
        <li>
        <div class=”dropdown”>
        <button class=”btn” type=”button” data-toggle=”dropdown”><i class=”fa fa-user-plus”></i>
        <span class=”caret”></span></button>
        <ul class=”dropdown-menu”>
        <li>
        </li>
        </ul>
        </div>
        </li>
          
    </main>
    
    <%-include( './layout/footer')%>