<%- include('./layout/header')%>
    <%- include('./layout/navbar')%>
    <main>
        <h2>Profile</h2>
        <p>Welcome <%= user.name%></p>
        <p>Name: <%= user.name%></p>
        <p>Email: <%= user.email%></p>
    </main>
    
    <%-include( './layout/footer')%>